body {
    color: #FFFFFF;
    background-color: #0A1846;
    margin: 2rem;
    font-family: sans-serif;
    font-size: 1.2rem;
}

h1, h2, h3, h4 {
    color: #FCB700;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

img {
    max-width:100%;
}

ul li {
    list-style-type: none;
    border-bottom: 1px solid #FFFFFF;
    padding: 1rem 0;
}

table td {
    border:1px solid #FFFFFF;
}

table thead td, table tbody th {
    background-color:#FFFFFF;
    color: #0A1846;
    font-weight:bold;
}

table tbody td:nth-child(3) {
    font-size:0.5rem;
}

table tfoot td {
    background-color: rgba(255,255,255,0.4)
}

pre {
    background-color: #000000;
    border-left: 5px solid #FCB700;
    padding: 2rem;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    border: 1px solid #FFFFFF;
}

.flex-container {
    display: flex;
}

.flex-container div {
    border: 1px solid #FFFFFF;
}

nav ul {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}



@media screen and (max-width: 419px) {
    ul li:last-child {
        border:0;
    }
}

@media screen and (min-width: 420px) {
    nav ul {
        flex-direction:row;
    }
}
